@model IEnumerable<YarnShop.WebApp.Models.YarnTypeVM>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedlesSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedlesSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Color.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Color.Name)
            </th>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Yarn Bundles List</a>
</div>
